#container {
    text-align: center;
    max-width: 1200px; /* Set a max-width for the container */
    margin: auto; /* Center the container */
}

#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three columns of equal width */
    gap: 20px; /* Space between the grid items */
    margin-top: 10%;
}

h1 {
    color: rgba(255, 0, 0, 0.8);
}

h3, figcaption {
    margin: 10px 0; /* Space above and below the headings and figcaption */
}

#image-gallery figure {
    border: 3px solid black; /* Add border around the figure */
    padding: 5px; /* Add some spacing around the image */
    height: 300px; /* Fixed height for the figure */
    display: flex; /* Use flexbox to center the image vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: #fff; /* Background color for the figure */
}

#image-gallery img {
    width: auto; /* Auto width to maintain aspect ratio */
    max-width: 100%; /* Maximum width to fit container */
    max-height: 100%; /* Maximum height to fit container */
    height: auto; /* Auto height to maintain aspect ratio */
    object-fit: cover; /* Cover the area of the figure */
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(0, 0, 255, 0.8);
}

#return-link {
    text-align: center;
    margin-top: 20px;
}

