#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the space between columns */
    margin-top: 10%;
    text-align: center; /* Center-align text for all child elements */
}

#image-gallery .side-by-side > div {
    margin: 0; /* Remove any default margins */
}

h1, h3, figcaption {
    margin: 0 0 10px 0; /* Add some space below the headings and figcaption */
}

#image-gallery img {
    width: 100%; /* Make the image width responsive to the container size */
    max-width: 200px; /* Maximum width for all images */
    height: auto; /* Keep the aspect ratio of the images */
    display: block; /* Display block to enable margin auto to work */
    margin: 0 auto 10px; /* Center-align images and add space below */
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(0, 0, 255, 0.8);
}

#return-link {
    text-align: center; /* Center-align the back link */
    margin-top: 20px; /* Add some space above the back link */
}
