#container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10%;
}

h1 {
    color: rgba(255, 0, 0, 0.8);
}

h3, figcaption {
    margin: 10px 0;
}

#image-gallery figure {
    border: 3px solid black;
    padding: 5px;
    text-align: center;
    background: #fff;
}

#image-gallery img {
    max-width: 100%;
    max-height: 300px; 
    height: auto;
    object-fit: contain; 
    margin-bottom: 10px;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(0, 0, 255, 0.8);
    display: block;
    padding: 2px;
    text-align: center;
}

#return-link {
    float: right;
    margin-top: 400px;
    width: 150px;
    padding: 50px;
}

