h1 {
    text-align: center;
}

.side-by-side > div {
    width: 45%;
    display: inline-block;
}

.bottom {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

h3 {
    font-weight: 500;
}

ol, ul {
    font-weight: 300;
}

.left h3, .left ol {
    border: 1px solid red;
    border-radius: 15px;
}

.left ol {
    padding: 10px;
    list-style: inside decimal;
}

.right h3, .right ul {
    border: 1px dashed red;
    border-radius: 15px;
}

.right ul {
    padding: 10px;
    list-style: inside upper-roman;
}

a:hover {
    text-decoration: underline;
}

